<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web5db1</property>
    <property name="hibernate.connection.username">urbi</property>
    <property name="hibernate.connection.password">urbi</property>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.MetadataParameter"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemConcept"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.DomainValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.Property"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystem"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.LicencedUserId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.ValueSetVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.AssociationType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.Domain"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.ValueSet"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.LicenceType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.PropertyVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemEntity"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.TermUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.ConceptValueSetMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.Session"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.LicencedUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.created.SysParam"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.LicenceType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.DomainValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.AssociationType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemConcept"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.ValueSet"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.ValueSetVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.MetadataParameter"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.SysParam"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.Property"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemEntity"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.LicencedUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.ConceptValueSetMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.Session"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.LicencedUserId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.Domain"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.PropertyVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.TermUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.creation.CodeSystem"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.TermUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.MetadataParameter"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.LicenceType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.ValueSetVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.SysParam"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystem"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemConcept"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.LicencedUser"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.Session"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.ValueSet"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.Property"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.Domain"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.LicencedUserId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.ConceptValueSetMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.AssociationType"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.DomainValue"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.PropertyVersion"/>
    <mapping class="de.fhdo.terminologie.db.hibernate.create.CodeSystemEntity"/>
  </session-factory>
</hibernate-configuration>
