src/TermServer/build/
src/TermBrowser/build/
src/TermAdmin/build/
src/TermServer/dist/
src/TermBrowser/dist/
src/TermAdmin/dist/
/src/Client/SendBackTest/nbproject/private/
/src/Client/SendBackTest/build/