<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web5db1</property>
    <property name="hibernate.connection.username">term</property>
    <property name="hibernate.connection.password">term123</property>
    <mapping class="de.fhdo.db.hibernate.LicencedUserId"/>
    <mapping class="de.fhdo.db.hibernate.TermUser"/>
    <mapping class="de.fhdo.db.hibernate.MetadataParameter"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystem"/>
    <mapping class="de.fhdo.db.hibernate.AssociationType"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntity"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.db.hibernate.PropertyVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConcept"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersion"/>
    <mapping class="de.fhdo.db.hibernate.LicenceType"/>
    <mapping class="de.fhdo.db.hibernate.SysParam"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.db.hibernate.ValueSet"/>
    <mapping class="de.fhdo.db.hibernate.Session"/>
    <mapping class="de.fhdo.db.hibernate.DomainValue"/>
    <mapping class="de.fhdo.db.hibernate.LicencedUser"/>
    <mapping class="de.fhdo.db.hibernate.Property"/>
    <mapping class="de.fhdo.db.hibernate.Domain"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembershipId"/>
    <mapping class="de.fhdo.db.hibernate.LicencedUserId"/>
    <mapping class="de.fhdo.db.hibernate.TermUser"/>
    <mapping class="de.fhdo.db.hibernate.MetadataParameter"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystem"/>
    <mapping class="de.fhdo.db.hibernate.AssociationType"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntity"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.db.hibernate.PropertyVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConcept"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersion"/>
    <mapping class="de.fhdo.db.hibernate.LicenceType"/>
    <mapping class="de.fhdo.db.hibernate.SysParam"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.db.hibernate.ValueSet"/>
    <mapping class="de.fhdo.db.hibernate.Session"/>
    <mapping class="de.fhdo.db.hibernate.DomainValue"/>
    <mapping class="de.fhdo.db.hibernate.LicencedUser"/>
    <mapping class="de.fhdo.db.hibernate.Property"/>
    <mapping class="de.fhdo.db.hibernate.Domain"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembershipId"/>
    <mapping class="de.fhdo.db.hibernate.LicencedUserId"/>
    <mapping class="de.fhdo.db.hibernate.TermUser"/>
    <mapping class="de.fhdo.db.hibernate.MetadataParameter"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystem"/>
    <mapping class="de.fhdo.db.hibernate.AssociationType"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConceptTranslation"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersionAssociation"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntity"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembership"/>
    <mapping class="de.fhdo.db.hibernate.PropertyVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemConcept"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersion"/>
    <mapping class="de.fhdo.db.hibernate.LicenceType"/>
    <mapping class="de.fhdo.db.hibernate.SysParam"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemEntityVersion"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembership"/>
    <mapping class="de.fhdo.db.hibernate.ValueSet"/>
    <mapping class="de.fhdo.db.hibernate.Session"/>
    <mapping class="de.fhdo.db.hibernate.DomainValue"/>
    <mapping class="de.fhdo.db.hibernate.LicencedUser"/>
    <mapping class="de.fhdo.db.hibernate.Property"/>
    <mapping class="de.fhdo.db.hibernate.Domain"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.ValueSetMetadataValue"/>
    <mapping class="de.fhdo.db.hibernate.CodeSystemVersionEntityMembershipId"/>
    <mapping class="de.fhdo.db.hibernate.ConceptValueSetMembershipId"/>
  </session-factory>
</hibernate-configuration>
